/*
TIPOGRAFIAS CARGADAS:
font-family: 'Bebas Neue', sans-serif;
font-family: 'Halant', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

body {
    background-color: #aaaaaa;
    margin: 0;
}

/*BARRA DE NAVEGACIÓN*/
.barra-lateral {
    position: fixed;
    background-color: #acacac;
    z-index: 1;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
}
    .barra-lateral ul {
        list-style: none;
        display: grid;
        grid-template-rows: repeat(4,1fr);
        margin: 0;
        padding: 0;
        align-items: center;
        height: 100%;
    }
    .barra-lateral ul li {
        justify-items: center;
        transform: rotate(-90deg);
        width: 70px;
    }

    .barra-lateral ul li a {
        color: black;
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        text-align: center;
        border-bottom: 1px solid black;
    }

/*FOOTER*/
footer {
    background-color: #898989;
    width: 100%;
    height: 55px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

    .CV {
        display: flex;
        height: 30px;
        margin-left: 25px;
        margin-top: 10px;
        background-color: aquamarine;
    }

    .contactos-footer ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;
    }

        .contactos-footer ul li a img {
            height: 30px;
            margin-right: 15px;
            margin-top: 10px;
        }

/*INICIO*/
.inicio {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns:1fr 1fr;
    grid-template-areas: 
    'frase-inicio frase-inicio'
    'texto-inicio foto-inicio';
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}

    .frase-inicio {
        grid-area: frase-inicio;
        align-items: center; 
    }
    .texto-inicio {
        grid-area: texto-inicio; 
        margin-top: 8%;
    }
    .foto-inicio {
        grid-area: foto-inicio; 
        margin-top: 8%;
    }

    .inicio h1 {
        font-family: 'Halant', serif;
        font-size: 110px;
        margin-left: 40px;
    }

    .inicio h3 {
        font-family: 'Roboto Slab', serif;
        font-size: 60px;
        margin-left: 40px;
    }

    .inicio p {
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
    }

    .inicio img {
        height: 480px;
    }

/*ACERCA DE MI*/
.acerca-de-mi {
    font-family: 'Roboto Slab', serif;
    width: 80%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 12%;
}

    .acerca-de-mi h1 {
        font-family: 'Halant', serif;
        display: inline-block;
        font-size: 70px;
        margin-bottom: 0;
    }

    .acerca-de-mi p {  
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 20px;    
    }

    .acerca-de-mi ul {
        list-style: none;
        font-size: 20px;
    }

    .acerca-de-mi h3 {
        display: inline-block;
        font-size: 30px;
        margin-bottom: 50px;
    }

.soft {
    margin-top: 80px;
}

    .soft h3 { 
        padding-right: 315px;
    }

    .soft ul {
        list-style: none;
        padding: 0;
        display: inline-block;
    }
      
    .soft li {
        display: inline-block;
        vertical-align: middle;
    }
        
    .soft li img {
        height: 90px;
        margin-top: 0;
    }
    
.habilidades {
    margin-top: 40px;
}

    .habilidades h3 { 
        padding-right: 150px;
    }
    .habilidades ul {
        padding: 0;
        display: inline-block;
    }
            
    .habilidades ul li {
        display: inline-block;
        list-style: none;
    }

    .habilidades ul li a {
        font-size: 22px;
        padding-right: 16px;
    }

/*PROYECTOS*/
.proyectos {
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 12%;
}

    .proyectos div {
        margin-left: 100px;
        width: 40%;
        height: 25%;
        margin: 2.5%; 
        padding: 15px;
    }

    .proyectos div img {
        width: 100%;
        height: 100%;
    }


/*CONTACTO*/
.contacto {
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
}
    .contacto form {
        margin-top: 20px;
    }
    .contacto h1 {
        font-family: 'Halant', serif;
        display: inline-block;
        font-size: 60px;
        margin: 0;
        margin-left: -85px;
    }
    .contacto div { 
        font-size: 20px;
    }
