
//COLORES
$amarillo: #fae69e;
$bordeaux: #B71F04;
$negro: #202123;
$negro-footer: #000000E6; 
$gris-footer: #D0D0D0E6;

//TIPOGRAFIA
$titulo-font: 'Halant', serif;
$parrafo-font: 'Roboto Slab', serif;