
//BARRA LATERAL
.barra-lateral {
    position: fixed;
    background-color: $amarillo;
    z-index: 1;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    ul {
        list-style: none;
        display: grid;
        grid-template-rows: repeat(4,1fr);
        margin: 0;
        padding: 0;
        align-items: center;
        height: 100%;
        li {
            justify-items: center;
            transform: rotate(-90deg);
            width: 70px;
            a {
                color: #202123;
                font-size: 17px;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                text-align: center;
                &:hover {
                    color: $bordeaux;
                    transition: 8s;
                }
            }
        }
    }
}
.body-proyectos {
    .barra-lateral {
        background-color: $negro;
        ul {
            li {
                a {
                    color: $amarillo;
                    &:hover {
                        color: $bordeaux;
                        transition: 2s;
                    }
                }
            }
        }
    }
}




//HAMBURGUESA (VERSIÓN MOBILE)
.navbar{
    position: fixed;
    font-family: $parrafo-font;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.colores-barra-navegacion {
    background-color: $amarillo;
}