
//BARRA LATERAL
.barra-lateral {
    position: fixed;
    background-color: #fae69e;
    z-index: 1;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    ul {
        list-style: none;
        display: grid;
        grid-template-rows: repeat(4,1fr);
        margin: 0;
        padding: 0;
        align-items: center;
        height: 100%;
        li {
            justify-items: center;
            transform: rotate(-90deg);
            width: 70px;
            a {
                color: #202123;
                font-size: 17px;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                text-align: center;
                &:hover {
                    color: #B71F04;
                    border-bottom: 1px solid #B71F04;
                    transition: 0,5s;
                }
            }
        }
    }
}
.body-proyectos {
    .barra-lateral {
        background-color: #202123;
        ul {
            li {
                a {
                    color: #fae69e;
                    &:hover {
                        color: #B71F04;
                    }
                }
            }
        }
    }
}




//HAMBURGUESA (VERSIÓN MOBILE)
.navbar{
    position: fixed;
    font-family: 'Roboto Slab', serif;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.colores-barra-navegacion {
    background-color: #fae69e;
}