*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../img/fondoSitioWeb.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.body-proyectos{
    background-image: url("../img/fondoSitioWebProyectos.png");
}